[Desktop Entry]
Name=DTA Exchange
Comment=DTA
Keywords=trading;
Keywords[ja]=trading;株式;取引;
Exec=/home/bitwalk/MyProjects/stock-explorer/dta_exchange.sh
Icon=/home/bitwalk/MyProjects/stock-explorer/images/budget.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;