[Desktop Entry]
Name=DTA uploader for RT
Comment=DTA uploader for RT
Keywords=trading;
Keywords[ja]=trading;株式;取引;
Exec=/home/bitwalk/MyProjects/stock-explorer/dta_uploader_rt.sh
Icon=/home/bitwalk/MyProjects/stock-explorer/images/uploader.png
Terminal=true
Type=Application
StartupNotify=true
Categories=Utility;