[Desktop Entry]
Name=Market Review
Name[ja]=市場概況
Comment=Market Review
Keywords=trading;
Keywords[ja]=trading;株式;取引;
Exec=/home/bitwalk/MyProjects/stock-explorer/mktreview.sh
Icon=/home/bitwalk/MyProjects/stock-explorer/images/summary.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;