[Desktop Entry]
Name=News
Name[ja]=ニュース
Comment=News
Keywords=trading;
Keywords[ja]=trading;株式;取引;
Exec=/home/bitwalk/MyProjects/stock-explorer/news.sh
Icon=/home/bitwalk/MyProjects/stock-explorer/images/news.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;