aiohttp
appdirs
backports.tarfile
fqdn
importlib-metadata
isoduration
japanize-matplotlib
jaraco.text
jsonpointer
jupyterlab
lightgbm
mplfinance
pip-chill
pip-review
plotly
pmdarima
prophet
psycopg2-binary
pyside6
pysocks
seaborn
selenium
tomli
uri-template
webcolors
wget
xlrd
yfinance
