aiohttp
appdirs
backports.tarfile
fqdn
importlib-metadata
isoduration
japanize-matplotlib
jaraco.text
jsonpointer
jupyterlab
lightgbm
mplfinance
ordered-set
pip-chill
pip-review
plotly
pmdarima
prophet
psycopg2-binary
pyside6
seaborn
tomli
uri-template
webcolors
wget
xlrd
yfinance
