aiohttp
fqdn
holidays
isoduration
jsonpointer
jupyterlab
mplfinance
nfoursid
pip-chill
pip-review
pyod
pyside6
pytorch-lightning
shap
statsforecast
tbats
tensorboardx
uri-template
webcolors
wget
xarray
xgboost
xlrd
yfinance
