[Desktop Entry]
Name=Stock Explorer
Comment=Stock Explorer
Keywords=trading;
Keywords[ja]=trading;株式;取引;
Exec=/home/bitwalk/MyProjects/stock-explorer/app.sh
Icon=/home/bitwalk/MyProjects/stock-explorer/images/stock.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;