[Desktop Entry]
Name=Trading
Comment=Trading
Keywords=trading;
Keywords[ja]=trading;株式;取引;
Exec=/home/bitwalk/MyProjects/stock-explorer/trading.sh
Icon=/home/bitwalk/MyProjects/stock-explorer/images/rakuten.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;