[Desktop Entry]
Name=Day Analysis
Comment=Day Analysis
Keywords=trading;
Keywords[ja]=trading;株式;取引;
Exec=/home/bitwalk/MyProjects/stock-explorer/trade_day_analysis.sh
Icon=/home/bitwalk/MyProjects/stock-explorer/images/trend.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;