[Desktop Entry]
Name=Day Analysis (Realtime)
Comment=Day Analysis
Keywords=trading;
Keywords[ja]=trading;株式;取引;
Exec=/home/bitwalk/MyProjects/stock-explorer/trade_day_analysis_realtime.sh
Icon=/home/bitwalk/MyProjects/stock-explorer/images/trend_realtime.png
Terminal=true
Type=Application
StartupNotify=true
Categories=Utility;