[Desktop Entry]
Name=Kabutan Good/Bad
Name[ja]=株探 好悪材料
Comment=Kabutan Good/Bad stocks
Comment[ja]=株探 好悪材料
Keywords=trading;
Keywords[ja]=trading;株式;取引;
Exec=/home/bitwalk/MyProjects/stock-explorer-postgres/web_kabutan.sh
Icon=/home/bitwalk/MyProjects/stock-explorer-postgres/images/kabutan.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;